article.user {
  .user-header {
    // Profile Banner.
    .field--name-field-profile-banner {
      margin: -16px -16px 0 -16px;
    }
  }

  .user-info {
    padding: 0 50px;
    margin: 0 -16px 0 -16px;
    background: var(--color-dark-gray);
    height: 80px;
    position: relative;
    // Avatar region.
    .layout__region--first {
      flex: 0 1 192px;
      position: relative;
      .block {
        height: 100%;
        width: fit-content;
      }
      // Avatar.
      .field--name-user-picture {
        img {
          position: absolute;
          width: 160px;
          height: 160px;
          bottom: 12px;
          border-radius: 24px;
        }
      }
    }
    .layout__region--second {
      padding: 12px 0;
      // Username.
      .field--name-name {
        width: fit-content;
        font-size: 1.5rem;
      }
      .user-status {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .user-ranking-section {
    margin: 8px 0;
    .layout__region--first {
      display: flex;
      flex-wrap: wrap;
      // Layout grid.
      .block {
        &:first-child, &:nth-child(2) {
          flex-basis: 100%;
        }
        &:nth-child(3), &:nth-child(4) {
          flex-basis: 50%;
        }
      }
      .user--ranking, .user-riuc {
        .user-rank, .user-riuc-item {
          display: inline-block;
          &:first-child{
            margin: 0 0 8px 0;
          }
          &:nth-child(2) {
            margin: 0 0 8px 16px;
          }
          .user-rank-row, .user-row {
            font-size: .8rem;
            font-family: "Hind Light", serif;
          }
          .user-rank-row:nth-child(2) {
            margin-top: 6px;
            font-size: 1.1rem;
            font-family: "Hind SemiBold", serif;
          }
        }
      }
      .user-riuc {
        .user-riuc-item {
          min-width: 92px;
        }
      }
      .user-ranking-chart, .user-ranks-count {
        text-align: center;
        padding: 32px 0;
        font-family: 'Hind SemiBold', serif;
        font-size: 1.2rem;
      }
      .user-ranks-count {
        padding: 8px 0;
      }
    }
    .layout__region--second {
      border-left: 3px solid rgba(30, 30, 30, .5);
      .user-stats {
        padding: 32px 16px;
        font-size: .9rem;
        font-family: "Hind Light", serif;
        ol {
          padding: 0;
          list-style-type: none;
          li {
            display: flex;
            justify-content: space-between;
            .user-stat {
              flex-basis: 63%;
            }
            .user-stat-value {
              flex-basis: 32%;
            }
          }
        }
      }
    }
  }

  .user-about-me {
    background: var(--color-dark-gray);
    border-radius: 24px;
    padding: 12px;
    margin: 24px 0;
  }
}
