<div class="alert dev-alert">
  <div class="icon">
    <i class="fa-solid fa-bell"></i>

    <div class="text">
      Alert
    </div>
  </div>

  <div class="message">
    Hi! The new Website is currently under development.
  </div>
</div>
