// Global elements styling, e.g. for headings, buttons, links, etc.
// -----------------------------------------------------------------------------

// Layout.
html {
  height: 100%;
  body {
    min-height: 100%;
    .dialog-off-canvas-main-canvas {
      width: 100%;
      min-height: 100%;
      position: absolute;
      .page {
        min-height: 100%;
        position: absolute;
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  main.py-5 {
    > .page__content > .container,
    > .page__header {
      max-width: 1080px;
      margin: 0 auto;
    }
    > .page__header > .container {
      padding: 0;
    }
  }
}

a {
  transition: 150ms all ease-in-out;
}

.page {
  color: white;
  display: flex;
  flex-flow: column;
  background: var(--color-dark-gray);
  font-family: "Hind Regular", serif;
  main.py-5 {
    flex: 1;
  }
}
