// Fonts.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Torus Light';
  src: url('/themes/custom/bancho/build/fonts/toruspro-light.otf');
}
@font-face {
  font-family: 'Torus Regular';
  src: url('/themes/custom/bancho/build/fonts/toruspro-regular.otf');
}
@font-face {
  font-family: 'Torus SemiBold';
  src: url('/themes/custom/bancho/build/fonts/toruspro-semibold.otf');
}

@font-face {
  font-family: 'Hind Light';
  src: url('/themes/custom/bancho/build/fonts/Hind-Light.ttf');
}
@font-face {
  font-family: 'Hind Regular';
  src: url('/themes/custom/bancho/build/fonts/Hind-Regular.ttf');
}
@font-face {
  font-family: 'Hind Medium';
  src: url('/themes/custom/bancho/build/fonts/Hind-Medium.ttf');
}
@font-face {
  font-family: 'Hind SemiBold';
  src: url('/themes/custom/bancho/build/fonts/Hind-SemiBold.ttf');
}
@font-face {
  font-family: 'Hind Bold';
  src: url('/themes/custom/bancho/build/fonts/Hind-Bold.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('/themes/custom/bancho/build/fonts/Rubik.woff2');
}
