<div class="user-riuc">
  <div class="user-riuc-item">
    <div class="user-row">
      pp
    </div>

    <div id="user-pp" class="user-rank-row">
      0
    </div>
  </div>

  <div class="user-riuc-item">
    <div class="user-row">
      Total Play Time
    </div>

    <div id="user-total-play-time" class="user-rank-row">
      -
    </div>
  </div>
</div>
