<div class="user--ranking">
  <div class="user-rank">
    <div class="user-rank-row">
      Global Ranking
    </div>

    <div id="user-global-rank" class="user-rank-row">
      -
    </div>
  </div>

  <div class="user-rank">
    <div class="user-rank-row">
      Country Ranking
    </div>

    <div id="user-country-rank" class="user-rank-row">
      -
    </div>
  </div>
</div>
