<div class="user-stats">
  <ol>
    <li>
      <div class="user-stat">
        Ranked Score
      </div>

      <div id="user-stat-ranked-score" class="user-stat-value">
        -
      </div>
    </li>
    <li>
      <div class="user-stat">
        Hit Accuracy
      </div>

      <div id="user-stat-accuracy" class="user-stat-value">
        -
      </div>
    </li>
    <li>
      <div class="user-stat">
        Play Count
      </div>

      <div id="user-stat-play-count" class="user-stat-value">
        -
      </div>
    </li>
    <li>
      <div class="user-stat">
        Total Score
      </div>

      <div id="user-stat-total-score" class="user-stat-value">
        -
      </div>
    </li>
    <li>
      <div class="user-stat">
        Total Hits
      </div>

      <div id="user-stat-total-hits" class="user-stat-value">
        -
      </div>
    </li>
    <li>
      <div class="user-stat">
        Maximum Combo
      </div>

      <div id="user-stat-maximum-combo" class="user-stat-value">
        -
      </div>
    </li>
    <li>
      <div class="user-stat">
        Replays Watched by Others
      </div>

      <div id="user-stat-replays-watched" class="user-stat-value">
        -
      </div>
    </li>
  </ol>
</div>
