{#
  User header, contains link to switch modes and other things.
#}

<div class="user-header">
  <div class="user-header-column user-header-title-column">
    <div class="user-header-icon">
      <i class="fa-regular fa-user"></i>
    </div>

    <div class="user-header-title">
      player info
    </div>
  </div>

  <div class="user-header-column user-header-mode-column">
    <ul>
      <li class="active">osu!</li>
      <li>osu!taiko</li>
      <li>osu!catch</li>
      <li>osu!mania</li>
    </ul>
  </div>
</div>
