{#
  403 page template.
#}

<div class="access-denied-page">
  <div class="title">
    Access denied
  </div>

  <div class="info">
    What are you doing here?!
  </div>

  <div class="go-back">
    <a href="/">
      Back to homepage
    </a>
  </div>

  <div class="pic">
    <img src="/themes/custom/bancho/build/assets/images/403.png" alt="ah?">
  </div>
</div>
