{#
  404 page template.
#}

<div class="page-not-found">
  <div class="title">
    Page not found
  </div>

  <div class="info">
    Seems like we can't find the content you were looking for!
  </div>

  <div class="go-back">
    <a href="/">
      Back to homepage
    </a>
  </div>
</div>
